body {
    font-family: 'Spectral', serif; /* Apply the Spectral font */
}

.container {
    padding: 120px 20%;
}

.container--brown {
    background-color: #2F191B;
}

.container p {
    color: #FFFFFF;
}

.page-title {
    margin-top: 5rem;
    font-size: 2.5rem;
}

.historical-images {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.historical-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historical-image {
    width: 500px;
    height: 300px;
    object-fit: contain;
}

.historical-image-title {
    font-size: 1.5rem;
}

.historical-image-description {
    font-size: 1rem;
    text-align: center;
    max-width: 500px;
}

/* Responsive adjustments */
@media (max-width: 900px) {
    .page-title {
        font-size: 2rem;
    }

    .container {
        padding: 1rem 5%;
    }

    .historical-images {
        flex-direction: column;
    }
}